csvs-to-sqlite
Markdown>=2.6.11
datasette>=0.57
datasette-graphql
datasette-vega
datasette-jellyfish
datasette-copyable
datasette-nteract-data-explorer
datasette-dashboards
datasette-export-notebook
sqlite-utils>=3.1
pandas
